.container{
  max-width: 1100px;
  padding: 20px 60px;
  margin: auto;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  &__picture{
    max-width: 25vw;
  }
  &__info{
    font-family: sans-serif;
    &>*{
      padding: 5px 0;
    }
  }
}